html {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', Arial, sans-serif;
	font-size:125%;
	color:#222;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	text-align: center;
}
.container .inside {
	padding: 30px 10px;
}

.container.green {
	background-color: #30d69b;
	color: #fff;
}

.container.grey {
	background-color: #ebebeb;
	color: #222;
}

.container.start {
	background-color: #30D69B;
	background-image: linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -o-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -moz-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -webkit-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -ms-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
}

.container .img {
	margin: 0 auto;
	max-width: 800px;
}

.container .img img{
	max-width: 100%;
}

.container.screens .img{
	width: 50%;
}


.container.screens .img {
	margin: 0 auto;
	max-width: 200px;
}

.container.screens {
	width: 100%;
	background-color: #30D69B;
	background-image: linear-gradient(bottom, #222 50%, #ebebeb 50%);
	background-image: -o-linear-gradient(bottom, #222 50%, #ebebeb 50%);
	background-image: -moz-linear-gradient(bottom, #222 50%, #ebebeb 50%);
	background-image: -webkit-linear-gradient(bottom, #222 50%, #ebebeb 50%);
	background-image: -ms-linear-gradient(bottom, #222 50%, #ebebeb 50%);
}

.content {
	max-width: 800px;
	margin: 0 auto;
}
.highlight {
	font-size: 1.4em;
}
/**
 * Fonts
 */
h1 {
	font-size: 3em;
}