html {
	margin: 0;
	padding: 0;
	font-family: 'nimbus-sans-condensed', Arial, sans-serif;
	line-height: 1.7em;
	font-size:150%;
	color:#222;
	-webkit-font-smoothing: antialiased;
	text-align: left;
}

body {
	margin: 0;
	padding: 0;
}

/**
 * Containers/layout
 */

.container {
	width: 100%;
}
.container .inside {
	padding: 90px 10px;
}
.container.padding-top {
	padding-top: 50px;
}
.container.padding-bottom {
	padding-bottom: 50px;
}
.container.green {
	background-color: #30d69b;
	color: #fff;
}

.container.grey {
	background-color: #ebebeb;
}

.container.start {
	background-color: #30D69B;
	background-image: linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -o-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -moz-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -webkit-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
	background-image: -ms-linear-gradient(bottom, #ebebeb 50%, #30D69B 50%);
}
.container.screen {
	background-color: #2b2a2a;
	color: #fff;
}
.container.footer {
	background:#0d0d0d;
	color: #fff;
}

.two-col {
	padding:15px 0;
	overflow: hidden;
	max-width: 960px;
	margin: 0 auto;
}
.two-col .col {
	float: left;
	width: 50%;
}
.col > .right {
	padding-right: 20px;
	text-align: right;
}
.col > .left {
	padding-left: 20px;
	text-align: left;
}

/**
 * Utility
 */
.content {
	max-width: 600px;
	margin: 0 auto;
}
.highlight {
	padding: 20px 0;
	font-size: 1.3em;
	text-align: center;
}
img {
	max-width: 100%;
}
/**
 * Fonts
 */
h1, h2, h3, h4 {
	font-family: 'Raleway', Arial, sans-serif;
}
h1 {
	font-weight: 700;
}
h2, h3, h4 {
	font-weight: normal;
}

/**
 * Header
 */
.header {
    text-align: center;
}
.container.header .inside {
	padding: 30px 10px;
}
.logo h1 {
	font-size: 2.6em;
}

/**
 * Start
 */
.container.start .inside {
	padding: 0 10px;
}
.container.start .img {
	margin: 0 auto;
	max-width: 800px;
}

/**
 * Articles
 */
.col .img {
	max-width:200px;
	display:inline-block;
}
.container.screen h2 {
	color: #30d69b;
}